@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --primary: #2D3142;
    --secondary: #4F5D75;
    --rose: #EF8354;
    --gris: #EAEBEB;
}

* {
    font-family: 'Lato';
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: var(--primary);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.uppercase {
    text-transform: uppercase;
}

.restoName_section {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 100%;
    width: 50%;
}

.restoName {
    color: white;
    font-family: 'Righteous', cursive;
    font-weight: bold;
    font-size: 15px;
}

.restoName::before {
    content: '«';
    color: var(--rose);
}

.restoName::after {
    content: '»';
    color: var(--rose);
}

.navbar_ul {
    margin-top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navbar_li {
    list-style: none;
    color: white;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}

.darkIcon {
    margin-top: 30px;
    position: relative;
    right: 7.5%;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    height: 40%;
}

.abo_title {
    width: 100%;
    text-align: center  ;
}

.abonnements_section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.abo_div {
    border: 1px solid black;
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.abo_div p {
    position: relative;
    bottom: 4px;
}

.top {
    position: relative;
    bottom: 10px !important;
}

.grid {
    position: absolute;
    margin-top: 60px;
    height: 150px;
    width: 310px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.name_sub {
    background-color: var(--secondary);
    color: white;
}

.carte {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 130px;
    display: flex;
    justify-content: center;
}

.carte h1 {
    width: 100%;
    text-align: center;
}

.plat {
    position: absolute;
    border-radius: 10px;
    width: 90%;
    height: 100px;
}

.image-plat {
    width: 33%;
    height: 100%;
    border-radius: 10px;
}

.title-plat {
    position: absolute;
    left: 34%;
    font-size: 18px;
}

.content-plat {
    position: absolute;
    font-size: 10px;
    width: 65%;
    left: 34%;
    top: 25%;
}

.bg-gris {
    background-color: var(--gris);
}

.separator_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.separator {
    width: 80%;
    height: 110px;
}

.parallax {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1464349095431-e9a21285b5f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=936&q=80");
  
    /* Set a specific height */
    min-height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

.blog_section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blog_section h1 {
    position: relative;
    left: 43%;
}

.blog {
    position: relative;
    width: 100%;
    height: 250px;
    top: 100px;
    box-shadow: 5px 5px 15px 5px #000000;
}

.blog-image {
    width: 100%;
    height: 33%;
}

.title-blog {
    text-align: center;
}

.content-blog {
    text-align: center;
    font-size: 15px;
    position: relative;
    bottom: 20px;
}

.margin {
    margin-top: 30px;
}

@media screen and (min-width: 680px) {
    .header {
        flex-direction: unset;
    }

    .navbar_ul {
        display: block;
    }

    .navbar ul li {
     float: left; 
     width: 100px; 
     text-align: center;
     position: relative;
     top: 45%;
    }

    .blog_section {
        display:grid;
        width: 80%;
        grid-template-columns: 60% 60%;
        grid-row-gap: 40px
    }

    .blog_section h1 {
        position: absolute;
    }

    .blog {
        width: 60%;
        height: 350px;
        margin-left: 40%;
        box-shadow: 5px 5px 15px 5px #000000;
    }

    .blog-image {
        width: 100%;
        height: 50%;
    }

    .content-blog {
        font-size: 13px;
    }

    .margin {
        margin-top: 0px;
    }

    .content-plat {
        font-size: 13.6px;
        left: 22%;
    }

    .title-plat {
        left: 22%;
    }

    .image-plat {
        width: 20%;
    }
}

.egg {
    background-color: var(--primary);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1_egg {
    font-weight: bold;
    text-align: center;
    color: white;
}